$dark-theme-primary-palette: mat-palette($mat-indigo);
$dark-theme-accent-palette: mat-palette($mat-blue-gray, A200, A100, A400);
$dark-theme-warn-palette: mat-palette($mat-red);

$dark-theme: mat-dark-theme(
  $dark-theme-primary-palette,
  $dark-theme-accent-palette,
  $dark-theme-warn-palette
);

$light-theme: mat-light-theme(
  $dark-theme-primary-palette,
  $dark-theme-accent-palette,
  $dark-theme-warn-palette
);

.theme-dark {
  @include angular-material-theme($dark-theme);
}
.theme-light {
  @include angular-material-theme($light-theme);
}
