<mat-card class="matcard">
  <div id="container">
  <span class="posts" color="primary">
    <a routerLink="/postagens">
      Postagens <i class="material-icons">arrow_right_alt</i>
    </a>
  </span>

  <span>
    <a routerLink="/albums">
      Albums <i class="material-icons">arrow_right_alt</i>
    </a>
  </span>

  <span>
    <a routerLink="/todos">
      To-Do's <i class="material-icons">arrow_right_alt</i>
    </a>
  </span>
  <span>
    <a routerLink="/comments">
      Comments <i class="material-icons">arrow_right_alt</i>
    </a>

  </span>
  </div>
</mat-card>
