<mat-card id="block">

  <div id="container">
    <button mat-raised-button color="primary" (click)="navigateTol('postagens')" class="buttons">
      Postagens <i class="material-icons">arrow_right_alt</i>
  </button>

  <button mat-raised-button color="primary" (click)="navigateTol('albums')" class="buttons">
      Albums <i class="material-icons">arrow_right_alt</i>
  </button>

  <button mat-raised-button color="primary" (click)="navigateTol('todos')" class="buttons">
      To-Do's <i class="material-icons">arrow_right_alt</i>
  </button>

  <button mat-raised-button color="primary" (click)="navigateTol('comments')" class="buttons">
      Comments <i class="material-icons">arrow_right_alt</i>
  </button>

  </div>
</mat-card>

