<mat-toolbar-row class="oi">
  <mat-toolbar class="header" color="primary">
    <button mat-raised-button color="primary" (click)="navigateTol('/')">
      Menu <i class="material-icons">home</i>
    </button>

    <button
      mat-raised-button
      color="primary"
      (click)="navigateTol('/postagens')">
      Postagens <i class="material-icons">library_books</i>
    </button>

    <button mat-raised-button color="primary" (click)="navigateTol('/albums')">
      Albums <i class="material-icons">album</i>
    </button>

    <button mat-raised-button color="primary" (click)="navigateTol('/todos')">
      To-Do's <i class="material-icons">done_all</i>
    </button>

    <button
      mat-raised-button
      color="primary"
      (click)="navigateTol('/comments')">
      Comments <i class="material-icons">feedback</i>
    </button>

    <mat-slide-toggle (change)="toggleDarkTheme($event)"
      >Dark theme</mat-slide-toggle>
  </mat-toolbar>
</mat-toolbar-row>
