@import "~@angular/material/theming";
@include mat-core();

@import "~src/app/styles/material-theme.scss";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
